body {
    /*background-image: url('./media/smallPawForCatKind_tm.png');*/
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -50%;
}

.buttonGrid{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttonGit {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-color: gray;
    height: 20px;

    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

.buttonGit:hover{
    background-color: black;
    color:white;
}

.buttonCharacters{
    border-radius: 5px;
    border-style: solid;
    background-color: none;
    border-color: gray;
    height: 30px;
}

.buttonCharacters:hover{
    background-color: darkgrey;
    color:white;
}

.buttonColors{
    border-radius: 5px;
    border-style: solid;
    background-color: lightseagreen;
    border-color: gray;
    height: 30px;
    color: white;
}

.buttonColors:hover{
    background-color: buttonface;
    color: buttontext;
}


.spacer{
    width: 20px;
}

.buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translate(20%, 0%);
}

.grid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*backdrop-filter: blur(10px);*/
  }

.right {
    position: absolute;
    top: 0% ;
    width: 100%;
    transform: translate(25%, 0%);
    text-align: center;
}

.left {
    text-align: center;
    transform: translate(-25%, 0%);
}


